/*Shared Style Sheet Between All Webpages*/

body{
    margin: 0 auto;
    background-color: #f5f5f5;
    font-family: Aileron-Regular, Arial, sans-serif;
    color: #373833;
}
@font-face{
    font-family:Aileron-Regular;
    src:url(aileron/Aileron-Regular.otf);
}
@font-face{
    font-family:Aileron-Heavy;
    src:url(aileron/Aileron-Heavy.otf);
}

/*Home Page Style Sheet*/
.body-home{
    background-color: #f5f5f5;
    font-family: Aileron-Regular, Arial, sans-serif;
    color: #373833;
}
.header-home{
    font-family: Aileron-Regular, Arial, sans-serif;
    background-color: #e3e4de;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-home ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
}
.header-home ul li{
    padding: 10px;
}
.header-home li a{
    color: #373833;
    text-decoration: none;
}
.header-home a:hover{
    transition: color 0.5s linear;
    color: #69582b;
}
.header-home img{
    width: 50px;
    height: 50px;
}
.logo-name{
    display: flex;
    align-items: center;
    font-family: Aileron-Heavy, Arial, sans-serif;
}
.logo-name a{
    color:#373833;
    text-decoration: none;
}
.hero-home{
    height: 400px;
    background: url('gymRef.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-home h1{
    opacity: 50%;
}
.box-home img{
    height:300px;
    object-fit: cover;
}
.text-home{
    text-align: center;
    margin: 50px 0;
}
.text-home h1{
    margin-bottom: 20px;
}
.boxes-home{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.box-home{
    background-color:white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 10px;
}
.box-home h3{
    margin: 10px 0;
}
.box-home p{
    margin-bottom: 20px;
}
footer{
    background-color: #e3e4de;
    padding: 20px 0;
    text-align: center;
    font-family: Aileron-Regular, Arial, sans-serif;
}
footer p{
    margin-top: 8px;
}
footer hr{
    margin: 10px 0;
    border-top: 1px solid #bebebc;
}
.rights{
    color: #aeaea5;
}
@media only screen and (max-width: 768px) {
    .header-home{
        flex-direction: column;
    }
    .main-container-calendar{
        flex-direction: column;
    }
    .container-calendar{
        display: flex;
        flex-direction: column;
        align-self: center;
        max-width: 500px;
    }
  }
@media only screen and (max-width: 530px) {
    .container-calendar{
        max-width: 400px;
        margin-left: -120px;
    }
  }
@media only screen and (max-width: 425px) {
    .header-home ul{
        display: flex;
        flex-direction: column;
    }
    .container-calendar{
        margin-left: -50px;
    }
    .calendar{
        max-width: 350px;
        height: 600px;
        display: flex;
        flex-direction: column;
    }
    .day {
        display: grid;
        grid-template-columns: repeat(7, 50px) !important;
    }
    .date {
        display: grid;
        grid-template-columns: repeat(7, 50px) !important;
    }
  }
@media only screen and (max-width: 280px) {
    .logo-name{
        font-size: 80%;
    }
  }

/* Calendar Page Style Sheet
.body-calendar {
    background-color: #f5f5f5;
    color: #373833;
    margin: 0;
}
.main-container-calendar{
    font-family: Arial, sans-serif;
    display: flex;
}
.container-calendar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-self: center;
    width: 200%;
}
.calendar {
    width: 450px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    margin: 50px;
}
.month {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #007bff;
    color: white;
}
.day div {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.date {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.date div {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.left-col{
    border-left: none !important;
}
.right-col{
    border-right: none !important;
}
.fas{
    margin-right: 10px;
}
.date p:hover{
    transition: background-color 0.3s linear;
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}
.info{
    font-family: Aileron-Regular, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 30px 50px;
    background-color: #f0f0f0;
}
.info>h2{
    margin-bottom: 10px;
}
.info>p{
    margin: 10px 0;
    font-size: 1.1rem;
    padding-bottom: 30px;
}
.info a{
    color: #007bff;
}
.info a:hover{
    transition: color 0.3s linear;
    color:blue;
}
.event{
    background-color: #eceaea;
}
.event-month h3{
    margin-top: 20px;
}
.event-month p{
    padding: 10px 0;
}
 */
/*Info Page Style Sheet*/
.directions{
    /* border-style: solid;
    border-color: #3E5879; */
    width: 70%;
    letter-spacing: 2px;
    margin: auto;
    margin-top: 5rem;
}

.policies{
    border-style: solid;
    border-color: #213555;
    width: 70%;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 5rem;
}


.contacts{
    border-style: solid;
    border-color: #213555;
    width: 70%;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 5rem;
    line-height: 2rem;
    padding-bottom: 1rem;
}

.amenities{
    border-style: solid;
    border-color: #213555;
    width: 70%;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 5rem;
    line-height: 2rem;
    margin-bottom: 5rem;
}

.container-info{
    text-align: center;
}

.container-info ul{
    list-style: none;
    width: 90%;
}

.container-info li::before{
    content: "•";
    margin: 0 5px 0 0;
}

.container-info p, .container-info ul{
    font-size: 1.2rem;
}

.am-p{
    padding-left: 5rem;
    padding-right: 5rem;
}
.underline{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.arena > img{
    width: 60%;
    height: auto;
    border-radius: 1rem;
}

.container-info div{
 overflow-wrap: break-word;
}


/*For Mobile Phones*/
@media only screen and (max-width: 768px) {
    .container-info ul{
       padding-left: 0;
    }

    .am-p{
        padding: 0;
    }
  }




/*Checkout Page style sheet*/
            .purchase{
                display: grid;
                grid-template-columns: 60% 40%;
                height: 95vh;
                box-sizing: border-box;
                margin: 0 auto;
                width: 80%;
            }

            .tickInfo{
                background-color: #3E5879;
                border-radius: 100px;
                margin: 0 auto; 
                text-align: center;
                height: 95vh;

                #sectionSelect{
                    width: 70%;
                    height: 5vh;
                    font-size: 1.5rem;
                }
                form{
                    padding-top: 8vh;
                }

                label{
                    font-size: 3rem;
                }
            }

            #purchase-cardInfo{
                background-color: #3E5879;
                border-radius: 100px;
                margin: 0 auto;
                text-align: center;

                img{
                    width: 45px;
                }
                form{
                    padding-top: 8vh;
                }
                    #eventSelect{
                        width: 70%;
                        height: 5vh;
                        font-size: 1.5rem;
                    }
                    #cardNum, #cardHold, #pinNum,#insertEmail{
                        width: 70%;
                        height: 2.5vh;
                        font-size: 1rem;
                    }
                    
                    #cardHoldLabel{
                        font-size: 2.2rem;
                    }
                    
                    #pinLabel{
                        font-size: 2.2em;
                    }
                    #pinNum{
                        width: 30%;
                    }
                    #nullDateMonth, #nullDateYear{
                        width: 30%;
                    }
                    
                    label{
                        font-size: 3rem;
                    }
                }
                
                @media (max-width:500px){
                    .purchase{
                        display: block;
                    }   
                    
                    #eventSelect{
                        width: 70%;
                        height: 5vh;
                        font-size: 0.5rem;
                    }
                    #cardNum, #cardHold, #pinNum,#insertEmail{
                        width: 70%;
                        height: 2.5vh;
                        font-size: 0.5rem;
                    }
                    
                    #cardHoldLabel{
                        font-size: 1.2rem;
                    }
                    
                    #pinLabel{
                        font-size: 1.2em;
                    }
                    #pinNum{
                        width: 30%;
                    }
                    #nullDateMonth, #nullDateYear{
                        width: 30%;
                    }
                    
                    label{
                        font-size: 0.5rem;
                    }
                }
                
