body{
    background-color: #f5f5f5;
}

.map-arena > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
     margin-top: 3rem;
}

.map-container > *{
    text-align: center;
}

.box{
    width: 60%;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 4rem;
    line-height: 2rem;
}

@media only screen and (max-width: 768px) {
     img{
        width: 30rem;
    height: auto;
}
}

@media only screen and (max-width: 500px) {
    img{
       width: 20rem;
   height: auto;
}
}
